header {
	background-color: white;
	height: 80px;
}

#link {
	color: #4aaaa5;
}

.navigation {
	padding: 18px;
	background-color: #B7C68B;
	display: flex;
	align-items: center;
}

.nav {
	list-style: none;
    display: inline-flex;
}

.navList {
	margin-right: 75rem;
}

.nav-li {
	margin-right: 12px;
	margin-left: 12px;
	color: white;
}

.login {
	background-color: #2d2c3e;
	color: whitesmoke;
	border-color: #2d2c3e;
	margin: 0px 2px; 
}

a {
	color: azure;
}

.icon-container {
	margin-top: 30px;
	width: 100%;
	height: 60px;
  }
  .icon {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 30px;
	overflow: hidden;
  }
  .icon::before, .icon::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 0.25s ease;
	border-radius: 30px;
  }
  .icon i {
	position: relative;
	color: #fff;
	font-size: 30px;
	margin-top: 15px;
	transition: all 0.25s ease;
  }
  .icon-fill::before {
	transition-duration: 0.5s;
	box-shadow: inset 0 0 0 1px #16a085;
  }
  .icon-fill:hover::before {
	box-shadow: inset 0 0 0 60px #16a085;
  }
  .icon-enter::after {
	box-shadow: inset 0 0 0 1px #eb9532;
  }
  .icon-enter::before {
	border-radius: 0;
	margin-left: -100%;
	box-shadow: inset 0 0 0 60px #eb9532;
  }
  .icon-enter:hover::before {
	margin-left: 0;
  }
  .icon-expand::after {
	box-shadow: inset 0 0 0 1px #c82647;
  }
  .icon-expand::before {
	background: #c82647;
	box-shadow: inset 0 0 0 60px #2d2c3e;
  }
  .icon-expand:hover::before {
	box-shadow: inset 0 0 0 1px #2d2c3e;
  }
  .icon-collapse::before {
	border-radius: 0;
  }
  .icon-collapse:hover::before {
	box-shadow: inset 0 30px 0 0 #8cc63f, inset 0 -30px 0 0 #8cc63f;
  }
  .icon-collapse::after {
	box-shadow: inset 0 0 0 1px #8cc63f;
  }
  .icon-rotate {
	box-shadow: inset 0 0 0 1px #7e3661;
  }
  .icon-rotate::after, .icon-rotate::before {
	border: 0px solid transparent;
  }
  .icon-rotate:hover::before {
	transition: border-top-width 0.3s ease, border-top-color 0.3s ease;
	border-width: 60px;
	border-top-color: #7e3661;
  }
  .icon-rotate:hover::after {
	transition: border-left-width 0.3s ease, border-left-color 0.3s ease;
	border-width: 60px;
	border-left-color: #7e3661;
  }
  .icon-rotate:hover {
	transition: background 0.001s ease 0.3s;
	background: #7e3661;
  }
  .icon-rotate i {
	z-index: 1;
  }

  .svg-inline--fa.fa-user.fa-w-14 {
	margin: inherit;
	margin-top: 13px;
	font-size: xx-large;
  }
	
	.profile {
	border-radius: 50%;
    width: 64%;
	margin: inherit;
	}